<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <title>Application Page</title>
        <link rel="stylesheet" href="/pub/style.css" type="text/css">
    </head>
    <body>
        <h1>Application Page</h1>
        <div class="earth">
            <form action="/application_confirmation" method="post">
                <fieldset>
                    <label><strong>Name: </strong><input type="text" name="name" id="name" required></label>
                    <br><br>
                    <label><strong>Username: </strong><input type="text" name="username" id="username" required></label>
                    <br><br>
                    <label><strong>Timezone:</strong></label>
                    <select name="timezone" id="timezone">
                        <%- zones %>
                    </select>
                </fieldset>
                <br>
                <input type="reset" value="Reset">
                <input type="submit" value="Submit Application">
            </form>
            <p><a href="/">Home</a></p>
        </div>
    </body>
</html>