<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <title>Final Proj</title>
        <link rel="stylesheet" href="/pub/style.css" type="text/css">
    </head>
    <body>
        <h1>What's Your Time?</h1>
        <div class="earth">
            <h2><a href="/application">Create Account</a></h2>
            <br>
            <h2><a href="/find_friend">Find a Friend</a></h2>
        </div>
    </body>
</html>